html,
body {
    height: 100vh;
    background-color: lavender;
}


.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    -ms-ime-align: inherit;
    align-items: center;
    text-align: center;
    background-color: lavender;
}

.random-beer {
    margin-top: 150px;
    color: black;
    font-size: 40px;
    font-family: helvetica;
}

.description {
    max-width: 600px;
    color: black;
    font-family: helvetica;
    font-size: 20px;
}

.beer-button {
    display: inline-flex;
}