html,
body {
    height: 100vh;
    background-color: lavender;
}


.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    -ms-ime-align: inherit;
    align-items: center;
    text-align: center;
    background-color: lavender;
}

.random-beer {
    margin-top: 150px;
    color: black;
    font-size: 40px;
    font-family: helvetica;
}

.description {
    max-width: 600px;
    color: black;
    font-family: helvetica;
    font-size: 20px;
}

.beer-button {
    display: inline-flex;
}

.beer-button a{
    display: inline-block;
    text-decoration: none;
    background-color: white;
    width: 80px;
    height: 80px;
    transition: 0.5;
    box-shadow: -8px -8px 12px 0 rgba(0, 0, 0, 0.3),
                12px 12px 16px rgba(255, 255, 255, 0.25);
    border-radius: 50%;
    width: 80px;
    height: 80px;
    transition: 0.5s;
    
    display: flex;
    align-items: center;
    justify-content: center;
}




.beer-button .fab {
    padding-left: 3px;
}

.tag-line {
    font-size: 25px;
}

.date {
    font-size: 20px;
}
